/* 全体 */
body{
    font-family: "Noto Sans JP", "sans-serif";
    margin: 0 auto;
    width: 100%;
    min-width: 1000px;
}

li{
    list-style: none;
}

.sub-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 35px;
    font-weight: normal;
    letter-spacing: 3px;
    line-height: 15px;
}

.subtitle-design {
    font-size: 20px;
}

.subtitle-design img {
    height: 15px;
    padding: 0 10px;
    position: relative;
    top: 2px;
}


/* ヘッダー*/
.header-container {
    width: 100%;
    min-width: 1000px;
    height: 70px;
    background-color: #FFF;
    border-bottom: 3px solid #E04444;
    position: fixed;
    top: 0;
    z-index: 10;
}

.header-container .header-icon {
    display: flex;
}

.header-container .header-icon li {
    text-align: center;
    margin-right: 25px;
}

.header-container .header-icon li img {
    height: 25px;

}

.header-container .header-icon li p {
    font-size: 12px;
    line-height: 2px;
    margin-top: 2px;
}

/* メイン */

.main{
    margin-top: 70px;
    width: 100%;
    min-width: 1000px;
}

/* メインイメージ */

.mainImage-container {
    height: 700px;
    background-color: #FAF8F8;
    width: 100%;
    min-width: 1000px;
    display: flex;
    justify-content: center;
}
.mainImage-container .main-name {
    padding-top: 200px;
}
.mainImage-container .main-name h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 100px;
    font-weight: normal;
    color: #555353;
    line-height: 95px;
}

.mainImage-container .main-name h2 {
    color: #E04444;
    font-weight:lighter;
    font-size: 22px;
    line-height: 40px;
    letter-spacing: 5px;
}

.mainImage-container .img {
    width: 500px;
    padding-top: 80px;
}

/* About */

.about {
    margin-top: 0;
    background-color: #E04444;
    color: #FFF;
    height: 520px;
    text-align: center;
}

.about .about-container {
    padding-top: 100px;
}


.about .about-container .skill {
    margin-top: 40px;
    margin-bottom: 50px;
    letter-spacing: 3px;
    font-size: 17px;
}

.about .about-container .introduction{
    width: 100%;
    margin: 0 auto;
    max-width: 620px;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 25px;
}

.about .about-container .e-mail{
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 50px;
}

.about .about-container ul {
    display: flex;
    justify-content: center;

}

.about .about-container li img {
    width: 45px;
    margin-right: 30px;
}


/* Projects */
.projects {
    padding-top: 100px;
}

.projects-container {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    max-width: 1400px;
}
.projects-container .sub-title {
    color: #E04444;
    padding-bottom: 10px;
}

.projects-list {
    padding-top: 60px;
    display: flex;
    justify-content: center;
}

.projects-list .project {
    width: 50%;
    color: #555353;
}

.projects-list .project .img-box{
    border: 2px solid #E04444;
    margin:0 50px
}

.projects-list .project .img-box img{
    width: 90%;
}

.projects-list .project .text-area h3 {
    font-weight: normal;
    font-size: 25px;
    letter-spacing: 2px;
    margin-bottom: 0%;
    
}

.projects-list .project .text-area img {
    padding-top: 0%;
    width: 80px;
}

.projects-list .project .text-area .description {
    font-size: 19px;
    letter-spacing: 1px;

}

.projects-list .project .text-area .description-account {
    margin-bottom: 8px;
    font-size: 18px;
}

.projects-list .project .text-area b {
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 27px;
    font-size: 17px;
}

.projects-list .project .text-area .link-btn {
    margin-top: 25px;
}

.projects-list .project .text-area .link-btn a {
    border-radius: 3px;
    color: #FFF;
    background-color: #E04444;
    padding: 16px 13px;
    text-decoration: none;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 2px;
    margin: 0 7px;
}

/* Contact Me */
.contactMe-container {
    padding-top: 130px;
    text-align: center;
}

.contactMe-container .sub-title span{
    color: #E04444;
}

.contactMe-container .detail-box {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    margin: 70px auto;

}

.contactMe-container .detail-box .detail {
    width: 50%;
    margin: 0 80px;
    border-bottom: 3px solid #E04444;
    background-color: #FAF8F8;
    padding-top: 40px;
}

.contactMe-container .detail-box .detail img {
    width: 40px;
    padding-bottom: 5px;
}

.contactMe-container .detail-box .detail img.line {
    width: 80px;
}

.contactMe-container .detail-box .detail b {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: normal;
    letter-spacing: 1px;
}

.contactMe-container .detail-box .detail p {
    font-size: 17px;
    letter-spacing: 1px;
    padding-bottom: 10px;
}

/* フッター */
footer {
    margin-top: 100px;
    background-color: #FAF8F8;
    height: 70px;
    text-align: center;
}
footer p {
    line-height: 70px;
    color: #938F8F;
    font-size: 13px;
    letter-spacing: 1px;
}
