/* 全体 */
a {
    text-decoration: none;
}

body {
    font-family: sans-serif;
    margin: 0 auto;
    width: 100%;
}

li {
    list-style: none;
}

.sub-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 35px;
    font-weight: normal;
    letter-spacing: 3px;
    line-height: 15px;
}

.subtitle-design {
    font-size: 20px;
}

.subtitle-design img {
    height: 15px;
    padding: 0 10px;
    position: relative;
    top: 2px;
}

/* ヘッダー */
.header-container {
    width: 100%;
    height: 80px;
    background-color: #FFF;
    border-bottom: 3px solid #E04444;
    position: fixed;
    top: 0;
    z-index: 10;
    padding-bottom: 10px;
}

.header-container .header-icon {
    padding-inline-start: 20px; margin-block-start: 17px; }

.header-container .header-icon li {
    float: left;
    text-align: center;
    margin: 0 15px;
}

.header-container .header-icon li img {
    height: 30px;
}

.header-container .header-icon li p {
    color: black;
    font-size: 12px;
    line-height: 2px;
    margin-top: 4px;
}

/* メイン */
.main {
    margin-top: 70px;
    width: 100%;
}

/* メインイメージ */
.mainImage-container {
    height: 700px;
    background-color: #FAF8F8;
    width: 100%;
    display: flex;
    justify-content: center;
}

.mainImage-container .main-name {
    padding-top: 200px;
}

.mainImage-container .main-name h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 90px;
    font-weight: normal;
    color: #555353;
    line-height: 100px;
}

.mainImage-container .main-name h2 {
    color: #E04444;
    font-weight: lighter;
    font-size: 22px;
    line-height: 40px;
    letter-spacing: 5px;
    padding-left: 10px;
}

.mainImage-container .img {
    width: 500px;
    padding-top: 80px;
}

.red-box {
    margin-bottom: 100px;
    background-color: #E04444;
    color: #FFF;
    height: 200px;
    text-align: center;
}

/* About.php */
.about {
    margin-top: 200px;
    height: 200px;
    text-align: center;
}

.about .sub-title {
    color: #E04444;
}

.about .about-container {
    padding-top: 1px;
}

.about .about-container .skill {
    margin-top: 40px;
    margin-bottom: 50px;
    letter-spacing: 3px;
    font-size: 17px;
}

.about .about-container .introduction {
    width: 100%;
    margin: 0 auto;
    max-width: 620px;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 25px;
}

.about .about-container .e-mail {
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 50px;
}

.about .about-container ul {
    display: flex;
    justify-content: center;
}

.about .about-container li img {
    margin-right: 30px;
}

/* HOME Projects */
.home-projects {
    padding-top: 50px;
}

.home-projects .link-btn {
    font-size: 22px;
    text-align: center;
    line-height: 60px;
    height: 60px;
    width: 200px;
    margin: 0 auto;
    margin-top: 30px;
    display: block;
    color: #ffffff;
    background-color: #E04444;
    border-radius: 15px;
}

.home-projects .link-btn:hover {
    background-color: #f06868;
}

/* Projects共通 */
.projects-container {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    max-width: 1400px;
}

.projects-container .sub-title {
    color: #E04444;
    padding-bottom: 10px;
}

.projects-list {
    padding-top: 60px;
    display: flex;
    justify-content: center;
}

.projects-list .project {
    width: 46%;
    color: #555353;
}

.projects-list .project .img-box {
    border: 2px solid #E04444;
    margin: 0 50px
}

.projects-list .project .img-box img {
    width: 90%;
    margin: 5%;
}

.projects-list .project .text-area h3 {
    font-weight: normal;
    font-size: 27px;
    letter-spacing: 2px;
    margin-bottom: 0%;
}

.projects-list .project .text-area img {
    padding-top: 0%;
    width: 80px;
}

.projects-list .project .text-area .description {
    font-size: 19px;
    letter-spacing: 1px;
}

/* Projects.php */
.projects-page {
    padding-top: 200px;
}

.projects-page .projects-container {
}

.projects-page .projects-container .sub-title {
}

.projects-page .projects-container .subtitle-design {
}

.projects-page .projects-container .projects-list {
    display: block;
}

.projects-page .projects-container .projects-list .project {
    width: 70%;
    max-width: 700px;
    margin: 0 auto;
    text-align: left;
}

.projects-page .projects-container .projects-list .project .img-box {
    margin: 0;
}

.projects-page .projects-container .projects-list .project .img-box .img {
}

.projects-page .projects-container .projects-list .project .text-area {
    margin-bottom: 150px;
}

.projects-page .projects-container .projects-list .project .text-area h3 {
}

.projects-page .projects-container .projects-list .project .text-area img {
}

.projects-page .projects-container .projects-list .project .text-area .description {
}

.projects-page .projects-container .projects-list .project .text-area .description-account {
    margin-bottom: 8px;
    font-size: 20px;
}

.projects-page .projects-container .projects-list .project .text-area b {
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 27px;
    font-size: 20px;
}

.projects-page .projects-container .projects-list .project .text-area .link-btn {
    margin-top: 40px;
}

.projects-page .projects-container .projects-list .project .text-area .link-btn a {
    border-radius: 5px;
    color: #FFF;
    background-color: #E04444;
    padding: 20px 15px;
    text-decoration: none;
    font-size: 22px;
    font-weight: normal;
    letter-spacing: 2px;
    margin-right: 15px;
}

/* Contact.php */
.contactMe-container {
    padding-top: 200px;
    text-align: center;
}

.contactMe-container .sub-title span {
    color: #E04444;
}

.contactMe-container .detail-box {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    margin: 70px auto;
}

.contactMe-container .detail-box .detail {
    width: 50%;
    margin: 0 70px;
    border-bottom: 3px solid #E04444;
    background-color: #FAF8F8;
    padding-top: 130px;
    padding-bottom: 100px;
}

.contactMe-container .detail-box .detail img {
    width: 60px;
    padding-bottom: 5px;
}

.contactMe-container .detail-box .detail img.line {
    width: 80px;
}

.contactMe-container .detail-box .detail b {
    font-size: 20px;
    display: block;
    padding-top: 20px;
    padding-bottom: 10px;
    font-weight: normal;
    letter-spacing: 2px;
}

.contactMe-container .detail-box .detail p {
    font-size: 20px;
    letter-spacing: 1px;
    padding-bottom: 10px;
}

.contactMe-container .link-btn {
    display: block;
    border-radius: 3px;
    color: #E04444;
    margin-top: 100px;
    font-size: 20px;
    letter-spacing: 3px;
}

/* skill.php */
.skill-container {
    padding-top: 200px;
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
}

.skill-container .sub-title {
    text-align: center;
    color: #E04444;
}

.skill-container .subtitle-design {
    text-align: center;
}

.skill-container .subtitle-design img {
}

.skill-container .text-area {
    padding-top: 20px;
    font-size: 19px;
}

.skill-container .text-area .skill-maintext {
    padding: 10px 0;
}

.skill-container .text-area .skill-title {
    display: flex;
    align-items: center;
}

.skill-container .text-area .skill-title .skill-icon {
    height: 25px;
}

.skill-container .text-area .skill-title h3 {
    margin-left: 5px;
    margin-block-start: 10px; margin-block-end: 10px; }

.skill-container .text-area .skill-description {
    margin-block-start: 5px; margin-block-end: 15px; margin-left: 10px;
}

/* フッター */
footer {
    padding-top: 20px;
    padding-bottom: 5px;
    margin-top: 90px;
    background-color: #FAF8F8;
    text-align: center;
}

footer .footer-link {
    line-height: 70px;
    color: rgb(44, 44, 44);
    font-size: 15px;
    letter-spacing: 1px;
    padding: 0 20px;
}

footer p {
    color: #938F8F;
    font-size: 13px;
    letter-spacing: 1px;
}

/* タブレットサイズ */
@media screen and (max-width: 1024px) {
    /* メインイメージ */ .mainImage-container {
        height: 840px;
        display: block;
        text-align: center;
    }

    .mainImage-container .main-name {
        padding-top: 80px;
    }

    .mainImage-container .img {
        padding-top: 0;
        margin: 0 auto;
    }

    .mainImage-container img {
        width: 350px;
    }

    /* About.php */
    .about {
        padding-right: 10px;
        padding-left: 10px;
    }

    /* Projects */
    .projects-list .project {
        margin: 0 20px
    }

    .projects-list .project .img-box {
        margin: 0 20px
    }

    .projects-list .project .text-area h3 {
        font-size: 23px;
    }

    .projects-list .project .text-area .description {
        font-size: 17px;
    }

    .projects-list .project .text-area .description-account {
        margin-bottom: 8px;
        font-size: 16px;
    }

    .projects-list .project .text-area b {
        line-height: 23px;
        font-size: 16px;
    }

    .projects-list .project .text-area .link-btn a {
        padding: 14px 11px;
        font-size: 17px;
    }

    .projects-page .projects-container .projects-list .project .text-area .link-btn a {
        font-size: 17px;
        padding: 17px 12px;
    }

    /* Contact.php */
    .contactMe-container .detail-box .detail {
        margin: 0 30px;
    }
}

/* SPサイズ */
@media screen and (max-width: 600px) {
    /* 全体 */ body {
        width: 100%;
    }

    .sub-title {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 25px;
    }

    .subtitle-design {
        font-size: 15px;
    }

    /* ヘッダー */
    .header-container {
        height: 54px;
    }

    .header-container .header-icon {
        display: block;
        margin-block-start: 10px; padding-inline-start: 0; }

    .header-container .header-icon .home {
        float: left;
    }

    .header-container .header-icon .right {
        display: flex;
        justify-content: center;
    }

    .header-container .header-icon .right li {
        float: none;
        width: 15%;
        margin: 0 1%;
    }

    .header-container .header-icon li img {
        height: 20px;
    }

    .header-container .header-icon li p {
        font-size: 10px;
    }

    /* メイン */
    .main {
        margin-top: 50px;
    }

    /* メインイメージ */
    .mainImage-container {
        height: 533px;
    }

    .mainImage-container .main-name {
        padding-top: 60px;
    }

    .mainImage-container .main-name h1 {
        font-size: 60px;
        line-height: 60px;
    }

    .mainImage-container .main-name h2 {
        font-size: 14px;
        line-height: 25px;
        letter-spacing: 3px;
    }

    .mainImage-container .img {
        padding-top: 20px;
        margin: 0 auto;
        width: 100%;
    }

    .mainImage-container img {
        width: 200px;
    }

    .red-box {
        height: 100px;
        margin-bottom: 0;
    }

    /* about.php */
    .about {
        height: 550px;
        padding-right: 30px;
        padding-left: 30px;
    }

    .about .about-container {
        padding-top: 70px;
    }

    .about .about-container .skill {
        font-size: 15px;
    }

    .about .about-container .introduction {
        font-size: 12px;
    }

    .about .about-container .e-mail {
        font-size: 13px;
    }

    .about .about-container li img {
        width: 35px;
    }

    /* HOME Projects */
    .home-projects {
        padding-bottom: 20px;
        padding-top: 80px;
    }

    .home-projects .link-btn {
        font-size: 15px;
        width: 143px;
        height: 35px;
        line-height: 35px;
        border-radius: 8px;
    }

    /* Projects共通 */
    .projects-container .projects-list {
        padding-top: 20px;
        display: block;
        width: 100%;
    }

    .projects-container .projects-list .project {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 46px;
        margin-top: 20px;
    }

    .projects-container .projects-list .project .text-area h3 {
        font-size: 18px;
    }

    .projects-container .projects-list .project .text-area .description {
        font-size: 12px;
    }

    .projects-page .projects-container .projects-list .project .text-area .description-account {
        font-size: 14px;
    }

    .projects-page .projects-container .projects-list .project .text-area b {
        font-size: 13px;
        line-height: 15px;
    }

    .projects-page .projects-container .projects-list .project .text-area .link-btn a {
        font-size: 14px;
    }

    /* Projects.php */
    .projects-page {
        padding-top: 120px;
    }

    .projects-page .projects-container .projects-list .project .text-area {
        margin-bottom: 100px;
    }

    /* Contact.php */
    .contactMe-container {
        padding-top: 30px;
    }

    .contactMe-container .detail-box {
        display: block;
        width: 80%;
    }

    .contactMe-container .detail-box .detail {
        margin: 0 auto;
        width: 100%;
        margin-bottom: 50px;
        padding-top: 25px;
    }

    .contactMe-container .detail-box .detail img {
        width: 35px;
    }

    .contactMe-container .detail-box .detail b {
        font-size: 13px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .contactMe-container .detail-box .detail p {
        font-size: 13px;
    }

    /* フッター */
    footer {
        margin-top: 20px;
        height: 120px;
    }

    footer p {
        line-height: 22px;
        font-size: 9px;
        padding-bottom: 10px;
    }

    footer .footer-link {
        line-height: 40px;
        padding: 0 20px;
        font-size: 14px;
    }
}
